* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.home {
  width: 100%;
  display: flex;
  background-color: rgb(156, 153, 153);
  flex-direction: column;
}

.slider-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20PX;
}

@media screen and (max-width:896px) {
  .slider-container {
    width: 100%;
    padding: 0px;
  }
  
}

.slideBox {
  height: 200px;
  background-color: #3498db;
  color: white;
  font-size: 3rem;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.slideBox > img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  border-radius: 12px;
}

/* .slideBox:hover {
  transform: scale(1.03);
} */

.slick-dots li button:before {
  font-size: 12px;
  color: #aaa;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.Responsive-container {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.ResponsiveCards {
  
  background-color: #fff;
  max-width: 95%;
  height: 250px;
  text-align: center;
  display: flex;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 12px;
  /* margin: 10px; */
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  gap: 20px;
}

.ResponsiveCards  > .responsiveImage {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
}

.ResponsiveCards  > .responsiveImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.ResponsiveCards > .responsiveText {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.ResponsiveCards > .responsiveText > h2 {
  color: #000;
  font-size: 20px;
}
.ResponsiveCards > .responsiveText > p {
  width: 100%;
  padding: 0px;
  color: #000;
  font-size: 12px;
  text-align: start;
}

.dots {
  display: flex;
  background-color: #fff;
}

@media screen and  (max-width: 896px) {
  .Responsive-container  {
    max-width: 100%;
  }

  .ResponsiveCards {
    max-width: 100%;
    padding: 10px;
    display: flex;
  }

}
  

