*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.not_found {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}


.not_found > h2 {
    font-size: 20px;
    color: red;
}
.not_found > p {
    font-size: 15px;
    color: #000;
}

.not_found > button {
    background-color: green;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font: 15px;
}