*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.faq-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cccaca;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0,0,0,0.1)
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 10px;
  color: #555;
  line-height: 1.5;
  animation: answer 0.3s ease-in-out;
}

.faq-item.active {
  background-color: #f5f5f5;
}

@keyframes answer {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-question span {
  font-size: 1rem;
  color: #888;
  transition: transform 0.3s ease;
}

/* .faq-item.active .faq-question span {
  transform: rotate(180deg);
} */
