*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.top {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: #000;
  justify-content: center;
  align-items: center;
    border-radius: 50px;
}

.top > button {
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.top > button > h6 {
    display: none;
}

.top > button:hover {
    border-radius: 50%;
  background-color: red;
}

.top > button:hover > h6 {
    width: 60px;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: -10px;
    color: #fff;
    padding: 2px 0px;
    background-color: rgb(0,0,0,0.6);
    
}

