/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.notivication {
    width: 1071px;
    height: 566px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

  
}

.notivication > p {
    color: blue;
    font-size: 50px;
} */



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.notivication {
    width: 1070px;
    min-height: 565px;          /* Responsive height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;             /* Mobile spacing */
    text-align: center;
}

.notivication > p {
    color: blue;
    font-size: 2rem;           /* Responsive font */
    font-weight: bold;
}

/* MOBILE VIEW */
@media (max-width: 600px) {
    .notivication {
        min-height: 100vh;
        padding: 10px;
    }

    .notivication > p {
        font-size: 1.5rem;     /* Smaller mobile font */
    }
}

