/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.dashboard-layout {
    display: flex;
    height: 100vh;
    background-color: rgb(212, 208, 208);
     padding: 0px 0px 20px 209px;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    background-color:#fff;
      padding: 20px 20px 20px 276px;
      border-bottom:3px solid blue;
     
}

.header > h2 {
    color: blue;
    font-size: 20px;
}
 */



 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DESKTOP DASHBOARD */
.dashboard-layout {
    
    display: flex;
    height: 100vh;
    background-color: rgb(212, 208, 208);
    padding: 0px 0px 20px 209px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

/* TOP HEADER (DESKTOP) */
.header {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px 20px 276px;
    border-bottom: 3px solid blue;
}

.header h2 {
    color: blue;
    font-size: 20px;
}

/* MOBILE STYLING */
@media (max-width: 768px) {
    .dashboard-layout {
        width: 1072px;
        padding: 0%;
        flex-direction: column;
        height: 100vh;
        /* background-color: red; */
        display: flex;
    }

    .header {
        padding: 15px;
        text-align: center;
        border-bottom: 2px solid blue;
        display: none;
    }

    /* Dashboard content spacing under mobile top menu */
    .dashboard-content {
        margin-top: 120px;
        /* padding: 15px; */
        width: 100%;
    }
}

