/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 90px;
}

.contact > .contactImage {
    width: 60%;
    height: 400px;
    display: flex;
    background-image: url("/src/assets/green\ store.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact > .contactForm {
    width: 40%;
    display: flex;
    padding: 20px;

}


.contact > .contactForm > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 896px) {
    .contact {
        padding: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .contact > .contactImage  {
        width: 100%;
    }

    .contact > .contactForm {
        width: 100%;
        padding: 10px;
    }
}


form > input {
    width: 100%;
    height: 40px;
    gap: 20px;
    border: none;
    border-bottom: 0.1px solid #000;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
form > textarea {
    width: 100%;
    height: 70px;
    gap: 20px;
    border: none;
    border-bottom: 0.1px solid #000;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

form > button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: blue;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.7);
}

.modalContect {
    width: 40%;
    height: 200px;
    display: flex;
    background-color: #fff;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}


.modalContect > h2 {
    font-size: 25px;
    color: green;
}
.modalContect > p{
    font-size: 15px;
    color: black;
}


.modalContect > .btn {
    display: flex;
    gap: 30px;
}

.modalContect > .btn > button:nth-child(1) {
     padding: 10px 20px;
    border: 1px solid blue;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modalContect > .btn > button:nth-child(2) {
     padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
} */

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: grey;
} */